<form action="\users\register" method="post">

    <div class="form-group">

        <div class="row top-10 ">
            <div class="col-md-4 offset-md-4">
                <h3 class="page-header">Register</h3>
                {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if err_msg}}
                        <div class="alert alert-danger">{{err_msg}}</div>
                {{/if}}
                
                {{#if errors}} {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}} {{/if}}
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-4 offset-md-4">
                <label for="fullName">Full name:</label>
                <input type="text" class="form-control" name="fullName" aria-describedby="helpId" placeholder="Full name">
                <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
        </div>

        <div class="row top-10">
            <div class="col-md-4 offset-md-4">

                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" aria-describedby="helpId" placeholder="Email">
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-4 offset-md-4">

                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" aria-describedby="helpId" placeholder="Password">
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-4 offset-md-4">
                <label for="password2">Confirm password:</label>
                <input type="password" class="form-control" name="password2" aria-describedby="helpId" placeholder="Confirm password">
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-4 offset-md-4 ">
                <button type="summit" class="btn btn-success full-width">Sign up</button>
            </div>
        </div>
    </div>
</form>